.not_found{
    padding: 0px;    
}

.image-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.image-container img{
    width: 100px;
    height: 100px;
}

.not-found-message{
    margin-left: 2%;
}

.not-found-message p{
    font-size: 1rem;
    font-weight: bold;
}

@media only screen and (max-width: 687px) {
    .not_found{
        padding-top: 200px;
    }
}
