.hangman{
    padding: 0;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hangman p{
    font-size: 2rem;
    font-family: monospace;
    margin: 0;
}

.hangman-tries{
    font-size: 22px;
    font-family:monospace;
}

.result-message p{
    margin: 0;
    font-size: 22px;
}

.title-hangman{
    font-size: 4rem;
    margin: 0 0 0 0;
}

.hangman-spaces{
    display: flex;
    height: 30%;
    gap: 3rem;
}

.hangman-letters{
    width: 30px;
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 60px;
    margin: 0;
}

@media only screen and (max-width: 687px) {
    .hangman{
        padding-top: 15%;
    }

    .hangman p{
        font-size: 1.2rem;
    }
    .title-hangman{
        font-size: 2rem;
    }
}

@media only screen and (max-width: 800px) {
    .hangman-spaces{
        display: flex;
        height: 30%;
        gap: 1.5rem;
    }
}


