
.header-container{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 1rem 2rem 0 0;
    gap: 3rem;
    z-index: 3;
  }

.header-element{
  align-items: center;
}

.login{
  text-decoration: none;
  color: white;
  font-size: 1rem;
}