footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0.5rem 1rem 0.2rem 1rem;
    z-index: 3;
    background-color: #383d9ccf;
    opacity: 0.85;
}

footer h3{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.607);
}

footer a{
    text-decoration: none;
    color: rgb(0, 238, 255);
}

footer a:hover{
    transform: translateY(-5px);
}