.hangman-keyboard{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.usedletters-container{
    display: flex;
    gap: 0.5rem;
}

.hangman-keyboard button{
    width: 55px;
    height: 55px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.859);
    font-size: 20px;
    color: #4c4a4a;
    cursor: pointer;
    margin:0;
    border-color: #c8cbddb0;
    border-style: solid;
}

.hangman-keyboard button:hover{
    background-color: rgba(165, 30, 30, 0.859);
}

.line-break{
    flex-basis: 100%;
    height: 0;
}

.line-break::before {
    content: "\A";
    white-space: pre;
  }
