@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 0.7;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
    }
}

@keyframes animate2 {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 0.6;
    }
    100%{
        transform: translateY(-1000px) rotate(1080deg);
        opacity: 0;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #383d9c;
    overflow: hidden;
    z-index: 0.2;
}

.background li:nth-child(even){
    width: 12px;
    height: 12px;
    animation: animate2 12s linear infinite;
}

.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(237, 233, 233, 0.2);
    animation: animate 15s linear infinite;
    border-radius: 10%;
}

.background li:nth-child(0) {
    left: 72%;
    width: 102px;
    height: 102px;
    bottom: -102px;
    animation-delay: 1s;
    filter: blur(2px);
}
.background li:nth-child(1) {
    left: 49%;
    width: 151px;
    height: 151px;
    bottom: -151px;
    animation-delay: 2s;
    background: rgba(237, 233, 233, 0.5);
    
}
.background li:nth-child(2) {
    left: 65%;
    width: 123px;
    height: 123px;
    bottom: -123px;
    animation-delay: 6s;
    filter: blur(2px);
}
.background li:nth-child(3) {
    left: 35%;
    width: 155px;
    height: 155px;
    bottom: -155px;
    animation-delay: 1s;
    filter: blur(2px);
}
.background li:nth-child(4) {
    left: 27%;
    width: 153px;
    height: 153px;
    bottom: -153px;
    animation-delay: 5s;
    background: rgba(237, 233, 233, 0.5);
    z-index: 1.1;
}
.background li:nth-child(5) {
    left: 4%;
    width: 111px;
    height: 111px;
    bottom: -111px;
    animation-delay: 10s;
}
.background li:nth-child(6) {
    left: 3%;
    width: 177px;
    height: 177px;
    bottom: -177px;
    animation-delay: 15s;
    background: rgba(237, 233, 233, 0.5);
    z-index: 1.1;
}
.background li:nth-child(7) {
    left: 1%;
    width: 122px;
    height: 122px;
    bottom: -122px;
    animation-delay: 6s;
    filter: blur(2px);
}
.background li:nth-child(8) {
    left: 88%;
    width: 180px;
    height: 180px;
    bottom: -180px;
    animation-delay: 5s;
    background: rgba(237, 233, 233, 0.5);
    z-index: 1.1;
}
.background li:nth-child(9) {
    left: 76%;
    width: 140px;
    height: 140px;
    bottom: -140px;
    animation-delay: 8s;
    filter: blur(2px);
}